input[type="number"]::-webkit-inner-spin-button,

input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(209, 255, 255);
    width: 100%;
    height: 100vh;
    border: solid 10px rgb(12, 110, 86);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(18, 46, 71);
    color: white;
    height: 6em;
    width: 20em;
}

.altura-peso{
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
    height: 2em;
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.altura-peso input{
border-radius: 5px;
background-color: rgb(83, 83, 97);
color: white;
}

#button{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button input{
    width: 6em;
    height: 2em;
    border-radius: 10px;
    background-color: rgb(11, 61, 44);
    color: white;
}

#imc{
    margin-top: 1em;
    width: 20em;
    height: 10em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 2px;
    border-radius: 25px;
    position: relative;
}

#close{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    background-color: rgb(223, 83, 83);
    color: white;
}

#imcText-div{
    height: 3em;
    width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imcText{
    margin-bottom: 2em;
    color: black;
}

.barra{
    display: block;
    width: 250px;
    height: 20px;
    background-color: #ccc;
    position: relative;
    border: solid 2px #8a8a8a;
}
.baixo{
    width: 92.5px;
    height: 20px;
    background-color: rgb(5, 87, 112);
    position: absolute;
    top: 0;
}
.ideal{
    width: 32.5px;
    height: 20px;
    background-color: rgb(122, 201, 122);
    position: absolute;
    top: 0;
    left: 92.5px;
}
.sobre{
    width: 25px;
    height: 20px;
    background-color: rgb(219, 219, 0);
    position: absolute;
    top: 0;
    left: 125px;
}
.obsidadeI{
    width: 25px;
    height: 20px;
    background-color: rgb(241, 164, 21);
    position: absolute;
    top: 0;
    left: 150px;
}
.obsidadeII{
    width: 25px;
    height: 20px;
    background-color: rgb(189, 25, 25);
    position: absolute;
    top: 0;
    left: 175px;
}
.obsidadeIII{
    width: 50px;
    height: 20px;
    background-color: rgb(116, 14, 6);
    position: absolute;
    top: 0;
    left: 200px;
}
.seta{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgb(0, 0, 0);
    position: absolute;
    top: -10px;
}